/* scroll css  and loader css*/

/* loader css */
.loadingCSS {
    height: 4px !important;
    padding: 0;
    background: green;
    width: 0%;
    transition: all 1s;
}

.load {
    position: fixed;
    top: 0;
    border: 0 !important;
    width: 100vw !important;
}


/* scroll css */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #0fa;
}

::-webkit-scrollbar-thumb {
    background: #27e002;
    border-radius: 10px;
    border: 3.76px solid #0fa;
}

::-webkit-scrollbar-thumb:hover {
    background: green;
}