@font-face {
    font-family: "Arabic";
    /* src: url("../assets/fonts/KFGQPC\ Uthmanic\ Script\ HAFS\ Regular.otf"); */
    src: url("../assets/fonts/UthmanicHafs1\ Ver18.ttf");

}

:root {
    --DefaultFont: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: var(--DefaultFont);
}

html {
    scroll-behavior: smooth;
}

body {
    user-select: none;
    overflow-x: hidden;
}

img {
    height: 55px;
    width: 55px;
}

.myNav {
    position: sticky;
    top: 0;
    left: 0;
    width: auto;
    font-size: 28px;
    padding: 8px;
    border-bottom: 1px solid black;
}

.myNav * {
    margin: 0 8px;
}

#captionDiv {
    position: sticky;
    top: 76px;
}

.captionDisplayerDiv {
    min-height: 55px;
}

#captionDisplayer {
    font-size: 30px;
    width: 60vw;
}

#audSpeed {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.channelsListDesignMini {
    min-width: 40vw !important;
    align-self: self-start;
    margin-top: 10px !important;
}

.channelsListDesignMini img {
    height: 40px;
    width: 40px;
}

.webName {
    padding-left: 12px;
}

.bottom {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100vw;
    padding: 20px;
    border-top: 1px solid black;
    font-weight: bold;
    height: 60px;

}

.InnerbottomBar {
    width: 96vw;
}


.control-imgs {
    height: 25px;
    width: 25px;
    margin: 6px;
    cursor: pointer;
}

.control-imgs-0 {
    height: 30px !important;
    width: 30px !important;
    margin: 0 20px !important;
    cursor: pointer;
}

.rangeInput {
    width: 44vw;
    height: 6px;
    accent-color: green;
    cursor: pointer;
    border-radius: 0;
    /* cursor: default; */
}

.volume {
    width: 9vw;
    rotate: -90deg;
}

.main {
    padding-bottom: 80vh !important;
}

.audItem,
.channelsListDesign {
    border: 1px solid black;
    border-radius: 4px;
}

.infoTabs {
    width: 20vw;
}

.infos {
    width: 220px !important;
    height: 55px;
}

.others {
    width: 300px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
}

.infoWidthChange {
    width: calc(220px + 55px) !important;
}

.time,
.channels,
.channel {
    width: 10vw;
}

.seekTime {
    font-size: 10px !important;
}

.load {
    position: absolute;
    top: 40%;
    text-align: center;
    width: 96vw;
    margin: 0 auto;
    font-size: 50px;
    color: black;
}

@media screen and (max-width:900px) {
    .text-size-1 {
        font-size: 0.8rem !important;
    }

    .text-size-2 {
        font-size: 0.7rem !important;
    }

    .volumePos {
        width: 4vh;
        height: 22vh;
    }

    .InnerbottomBar {
        width: 92vw;
    }

    .rangeInput {
        width: 70vw;
    }

    .time,
    .channels,
    .channel,
    #other {
        display: none !important;
    }

    .infoTabs {
        width: 50vw !important;
    }

    .volume {
        width: 14vh;
    }

    .infos,
    .banners {
        display: none !important;
    }

    .others {
        width: auto !important;
    }

    .players {
        width: 85vw !important;
    }
}

@media screen and (max-width:600px) {
    .channelsListDesignMini {
        min-width: 60vw !important;
    }

}

@media screen and (max-width:450px) {
    .posRelative {
        bottom: -4px !important;
    }

    .channelsListDesignMini{
        min-width: 60vw !important;
    }

}

@media screen and (max-width:420px) {
    .InnerbottomBar {
        width: auto;
    }

    .infoTabs {
        width: 50vw !important;
    }

}

@media screen and (max-width:300px) {
    .infoTabs {
        width: 45vw !important;
    }
}

@media screen and (max-width:270px) {
    .infoTabs {
        display: none;
    }
}